[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
matplotlib = "*"
numpy = "*"
pulp = "*"
torch = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.13"
